body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #C40C0C;
}

header {
    width: 100vw;
    background-color: #ffc100;
    padding: 16px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

button {
    margin: 0 16px;
    border: none;
    padding: 12px 48px;
    background-color: #ff8a08;
    border-radius: 12px;
    font-weight: bolder;
    font-size: 24px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6500;
}

#content {
    padding: 16px;
    margin: 16px auto;
    width: 50%;
    background-color: #ffc100;
    border-radius: 16px;
    max-width: 70vw;
}

.title-section {
    font-weight: bolder;
}

.title-contact {
    text-align: center;
}